*{
    background-color: rgb(2, 2, 60);
}
.cont{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.element{
    
    background-color: pink;
    margin-top: 2rem;
    width: 22rem;
    height: 18rem;
    border-radius: 0.5rem;
    font-weight:bolder;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}